/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #90EE90;
  --error: #e7195a;
}
body {
  margin: 0;
  font-family: "Poppins";
  background-image: url('background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  opacity: 0.95;
  background-color: rgba(255, 255, 255, 0.8);
}
header {
  background: #fff;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* homepage */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
.workout-details {
  background: gray;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.workout-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.4em;
  color: var(--primary);
}
.workout-details:hover {
  border: 2px solid white;
  border-radius: 6px;
  padding: 18px;
}
.workout-details p {
  margin: 0;
  font-size: 0.9em;
  color: #fff;
}
.workout-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: black;
}

/* new workout form */
form>h3{
  color: white;
}
label, input {
  display: block;
  color: white;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: gray;
}
input:hover {
  padding: 9px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 2px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: white;
  color: #333;
}
form button {
  background: var(--primary);
  border: 0;
  color: #333;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}
form>button:hover{
  padding: 8px;
  border: 2px solid red;
  cursor: pointer;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}

/*navbar*/
nav{
  display: flex;
  align-items: center;
}
nav a{
  margin-left: 10px;
}
nav button{
  background: gray;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
  margin-left: 10px;
}
/*auth forms*/
form.signup, form.login{
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: gray;
  border-radius: 4px;
}